.audio{
    display: block;
    height: 700px;
    width: 600px;
    position: center;
    border: black solid;
}

.header{
    display: block;
    border: black solid;
}

.audio_control{

    display: block;
    align-content: right;
    border: solid black;
}

.audioList{
    display: inline;

}